html {
    font-family: -apple-system, sans-serif ;
    background-image: url("resources/peakpx.jpg");
}

.weather_card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    padding: 20px 20px;
    width: 500px;
    height: auto;
    /* height: 450px; */
    align-items: center;
    border-radius: 10% 30%;
    background-color: rgba(0, 0, 0, 0.753) ;
    color: rgba(221, 209, 185, 0.87); 

}

.W_city, .T_city, .description, .humidity, .wind{
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-size: 50px;
}

.W_city {
    text-transform: uppercase; 
}

.weather_card .temp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 100px;
    background-color: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(5px);
}