@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

html {
    font-family: system-ui, -apple-system, 'Poppins', sans-serif ;
    background-image: url("ressources/peakpx.jpg");
}

.weather_card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10 0px;
    margin-bottom: auto;
    padding: 40px 40px;
    width: 500px;
    height: 500px;
    border-radius: 10% 30%;
    background-color: rgba(0, 0, 0, 0.753) ;
    color: rgba(221, 209, 185, 0.87); 

}

.W_city, .T_city, .description, .humidity, .wind, .refresh{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-size: 50px;
}

.W_city {
    text-transform: uppercase; 
}

.refresh {
    margin-top: 20px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.87); 
    text-shadow: 0 0 50px;
    text-transform: uppercase;
}

.refresh:hover {
    transition: 0.5s;
    color: #01e1ff;
}